<%- include('partials/header') %>

<main class="main-content">
    hello world
</main>

<%- include('partials/genericModal.ejs') %>

<%- include('partials/addPost.ejs') %>

<%- include('partials/footer') %>