<%- include('partials/header.ejs') %>

<main class="main-content">
    <div class="title">
        <h1>
            Blog Personal
        </h1>

        <button id="modifyBtn" class="">
            <i class="fa-solid fa-lock"></i>
        </button>
    </div>
    <div class="hello">Hola mundo</div>
    <div class="hello">Hola mundo</div>
</main>

<modal id="passwordModal" class="modal">
    <div class="modal-content">
        <h2>Ingrese la contraseña</h2>
        <form id="passwordForm">
            <input type="password" id="passwordInput" placeholder="Password" required>
            <button type="submit" class="btnSend">Enviar</button>
        </form>
    </div>
</modal>

<%- include('partials/footer.ejs') %>