<%- include('partials/header.ejs') %>

<main class="main-content">
    <div class="title">
        <h1>
            Blog Personal
        </h1>
    </div>
    <div class="hello">Hola mundo</div>
    <div class="hello">Hola mundo</div>
</main>

<%- include('partials/modal.ejs') %>

<%- include('partials/footer.ejs') %>