<footer class="blog-footer">
    <div class="footer-container">
        <!-- Sección 1 -->
        <div class="footer-section">
            <h3>Sobre el Blog</h3>
            <p>Un espacio dedicado a compartir conocimientos, experiencias y reflexiones sobre diversos temas de
                interés.</p>
        </div>

        <!-- Sección 2 -->
        <div class="footer-section">
            <h3>Enlaces Rápidos</h3>
            <ul class="footer-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!-- Sección 3 -->
        <div class="footer-section footer-contact">
            <h3>Contacto</h3>
            <address>
                <p><i class="fas fa-envelope"></i> info@tublog.com</p>
                <p><i class="fas fa-phone"></i> +123 456 7890</p>
            </address>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; 2023 Tu Blog. Todos los derechos reservados.</p>
    </div>
</footer>


<script src="/javascript/dinamicNav.js" ></script>
<script src="/javascript/modal.js" type="module"></script>
<script src="/javascript/addPostModal.js" type="module"></script>
<script type="module" src="/javascript/authModal.js"></script>
<script src="/javascript/editPostModal.js" type="module"></script>
<script src="https://kit.fontawesome.com/91c0754db7.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
</body>

</html>