<div class="generic-modal">
    <div class="modal-container">
        <div class="modal-header">
            <h2 class="modal-title"></h2>
            <button id="close-modal-btn">&times;</button>
        </div>
        <div class="modal-content"></div>
        <div class="modal-footer">
            <button class="modal-btn-action"></button>
            <button class="modal-btn-cancel">Cancelar</button>
        </div>
    </div>
</div>