.add-post-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--pistachio);
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: var(--text-size);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

