.main-content {
    flex: 1;
    padding: 2rem;
    background-color: var(--celadon);
}

.main-content div {
    min-height: 400px;
}

.main-content .title {
    position: relative;
    text-align: center;
}




