.main-content {
    flex: 1;
    padding: 2rem;
    background-color: var(--celadon);
}

.main-content section{
    min-height: 650px;
}

.main-content #hero {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

#hero .hero-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--dim-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 3rem;
}

#hero .hero-title{
    font-size: 2rem;
    color: var(--title-color)
}

#hero .hero-description {
    width: 80%;
    font-size: 1.5rem;
    color: var(--dim-gray);
    line-height: 1.5;
    white-space: pre-wrap;
    margin: 0 auto;
}

#hero .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero-buttons .hero-btn {
    background-color: var(--pistachio);
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.hero-buttons .hero-btn:hover{
    background-color: var(--asparagus);
    color: white;
}






