:root {
    --text-size: 1.4rem;
    /* CSS HEX */
    --celadon: #a0eec0ff;
    --aquamarine: #8ae9c1ff;
    --pistachio: #86cd82ff;
    --asparagus: #72a276ff;
    --dim-gray: #666b6aff;
    --red-danger: #ff4c4cff;
    --title-color: #333333ff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --card-background: #e7e3e3;

}