

/*Especific buttons styles*/
.auth-buttons button {
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: 1px solid var(--dim-gray);
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--dim-gray);
    font-size: 1.5rem;
}

.auth-buttons button.active {
    background-color: var(--dim-gray);
    color: red;
}

#hero .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero-buttons .hero-btn {
    background-color: var(--pistachio);
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.hero-buttons .hero-btn:hover{
    background-color: var(--asparagus);
    color: white;
}

.add-post-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--pistachio);
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: var(--text-size);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-footer .modal-btn-action{
    background-color: var(--pistachio);
    border-radius: 0.4rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal-footer .modal-btn-cancel {
    display: none;
    background-color: white;
    border: 1px solid var(--red-danger);
    color: var(--red-danger);
    border-radius: 0.4rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons .btn-edit,
.buttons .btn-delete {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.btn-edit {
    background-color: var(--pistachio);
    color: black;
    border: none;
}

.btn-delete{
    color: var(--red-danger);
    border: 1px solid var(--red-danger);
}

.buttons .btn-edit:hover {
    background-color: white;
    color: var(--pistachio);
    border: 1px solid var(--pistachio);
}

.buttons .btn-delete:hover {
    background-color: var(--red-danger);
    color: white;
}

@media (max-width: 430px) {
    .hero-buttons .hero-btn {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }
}
