.dropdown {
    position: relative;
    width: 100%;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    z-index: 1000;
    top: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    padding: 0.5rem 0;
    border: 1px solid var(--dim-gray);
    border-radius: 8px;
    background-color: var(--pistachio);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a {
    padding: 0.5rem 1rem;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: var(--shadow-color);
}

.dropdown-content.open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.category-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

@media (max-width: 760px) {
    .category-dropdown {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transform: translateY(-10%);
        transition: all 0.3s ease-in-out;
    }

    .category-dropdown.open {
        visibility: visible;
        opacity: 1;
        height: auto;
        transform: translateY(0);
    }

    .category-dropdown .dropdown-item {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .dropdown-item a {
        font-size: 1rem;
        color: var(--dim-gray);
        text-decoration: none;
        text-align: justify;
    }
}