.articles-title {
    position: relative;
    font-size: 2rem;
    color: var(--title-color);
}

.articles-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 50px;
    height: 0.3rem;
    background-color: var(--pistachio);
    border-radius: 2px;
}

.articles-title.second::after{

    background-color: var(--pistachio);
    
}

#aboutme h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--title-color);
    text-align: center;
    margin: 0 0 0.5rem 0;
}